[2021-06-09 01:17] SavvasLakshmiNagandla commented on #674
@JenniferMah, We are trying to read the messages that are received to the Twilio number.  While we are using APIs to read the data we are getting the above issue that we are mentioned.

But now at this moment, we are able to resolve the issue with a small update on the library side. Seems inside the Twilio library, we have noticed below the "Twilio.js" file, we are calling "var uri = new url.URL(o

[2021-06-09 13:22] shellscape commented on #671
@thinkingserious it's a bit of a bummer if a shop is all koa-based, or using something like apollo-server-lambda, to have to include types manually in our dependencies for a package that we have no interest in, nor use for. Kind of a wonky architecture decision to force users to install that. I get _why_ you're piggy backing on express types, but that's making a grand assumption about the majority

[2021-06-09 13:34] shellscape commented on #606
10 months open now folks. Additionally, `MessageInstance` is all over this codebase, but there's no direct export in the Twilio lib, so importing the type is problematic and requires a path import, which is fragile and an antipattern.

[2021-06-09 21:20] shwetha-manvinkurke commented on #676
@djdmbrwsk the code is auto-generated from the internal api definitions which lists all of those mentioned statuses. Following up with the docs team to find out why the mismatch.

[2021-06-09 22:05] #676 closed

[2021-06-11 22:30] shwetha-manvinkurke commented on #674
@SavvasLakshmiNagandla can you clarify if you are using the node helper in a client side app?

[2021-06-16 21:57] marneborn opened #678 "incomingPhoneNumber.each({ limit, done }, callback) does not call done"
### Issue Summary
When trying to run client.incomingPhoneNumbers.each with opts.limit, opts.done is never called.

### Steps to Reproduce
1. create more than one page's worth of phone numbers
2. run client.incomingPhoneNumbers.each({ limit: 1, done })
3. see that done is not called

### Code Snippet
[code]

Or closer to the real code: cleanup is not called.
[code]
### Exception/Log
[code]

### Tec

[2021-06-18 00:14] thinkingserious commented on #678
Hello @marneborn,

Thank you for the contribution! We've added your PR to our backlog for review.

With best regards,

Elmer

[2021-06-25 07:11] ciekawy commented on #658
I just hit very similar issue in a quite different environment (AWS lambda / `serverless`). Madge showed no circular deps. The `https-proxy-agent` is used by `twilio` and issue seems to be related to `https-proxy-agent` unable to resolve `agent-base` - in my case the workaround seems to be to add `agent-base` to `externals` in `webpack.config.js`.

Writing this as someone may find this helpful.

[2021-07-07 03:46] cmcaboy commented on #663
@shahanahmed86 I am also running into this issue. What was the resolution? I see this has already been closed out.

[2021-07-07 04:17] cmcaboy opened #681 "Twilio Conference Update throws error"
### Issue Summary
I am trying to end the Twilio conference object, but the SDK throws an ambiguous error.

### Steps to Reproduce
1. Start a conference

[code]

2. Have a participant join the call
[code]

3. As it is dialing, execute the following code:

[code]

Desired result: The conference ends.
Actual Result: The user who receives the call will be connected to an empty conference with the viol

[2021-07-07 05:12] shahanahmed86 commented on #663
I wanted to implemented on a project but unfortunately the project was cancelled so I didn't reply to @JenniferMah and didn't browse for the solution

[2021-07-07 12:58] cmcaboy commented on #663
ok, thank you for the reply. Since this ticket is closed, I opened another one with the logs requested.

[2021-07-09 18:44] shwetha-manvinkurke commented on #681
@cmcaboy does the issue occur only while the dialing is in progress? What happens if you try and end the conference after the user has joined the call?

[2021-07-10 01:29] cmcaboy commented on #681
@shwetha-manvinkurke That seems to be the case. If I try to end the conference after the user joins the call, it ends appropriately.

[2021-07-12 15:13] shwetha-manvinkurke commented on #674
Closing due to inactivity. Feel free to reopen if further help is needed.

[2021-07-12 15:13] #674 closed

[2021-07-12 18:06] cmcaboy commented on #681
@shwetha-manvinkurke I did some further research and it seems that the underlying API request is failing.

[code]

This was copied straight from the documentation so not sure what the issue is.

[2021-07-12 18:09] cmcaboy commented on #681
When fetching the resource, it appears to be in a completed state already:

[code]

I am assuming that is why I am getting this error.

[2021-07-14 04:03] cmcaboy commented on #681
Yes, I figured out that this was because my conference had already ended. Closing...

[2021-07-14 04:03] #681 closed

[2021-07-24 15:31] ali619-ops opened #684 "Im sending sms using Google sheet and app script but getting error"
error: Exception: Request failed for https://api.twilio.com returned code 404. Truncated server response: {"code": 20404, "message": "The requested resource /2010-04-01/Accounts/PASTE_TWILIO_ACCOUNT_ID_HERE_EX: ACa0072e7863c5d13b703e1e18f7cab1ee/Message... (use muteHttpExceptions option to examine full response)

can anyone help with this

[2021-07-24 15:37] #684 closed

[2021-07-27 18:11] spiatrenka commented on #664
@shwetha-manvinkurke , please take a look at the [attached PR](https://github.com/twilio/twilio-node/pull/682). I believe the changes should be implemented on your end, because these are autogenerated files. I hope PR will help to identify the list of missing categories.

[2021-08-11 02:11] LuisSaybe commented on #646
Had to dig into these issues to find out the same still is still happening at my company while using Twilio, I have quite a few users who never receive a code via text or when they redeem the correct code, I get the error referenced in this issue.

Using version `"twilio": "^3.66.1"`

[2021-08-12 20:10] dmurawsky opened #685 "Update url-parse dependency"
### Issue Summary
Upgrading `url-parse` dependency to handle security issue: https://github.com/advisories/GHSA-hh27-ffr2-f2jc

[2021-08-13 16:28] dmurawsky commented on #685
Looks like sonarqube is stuck

[2021-08-13 17:43] shwetha-manvinkurke commented on #685
Looking into it

[2021-08-13 18:04] #685 closed

[2021-08-16 13:27] tylerfehr opened #688 "Dependency url-parse fails audit check"
### Issue Summary
With the release of 3.67.0,  url-parse is failing `npm audit`.

### Exception/Log
![Screen Shot 2021-08-16 at 9 22 44 AM](https://user-images.githubusercontent.com/56086429/129570602-df8af7da-9cfe-4e0b-b9d4-b133be92ef2d.png)

### Technical details:
* twilio-node version: 3.67.0

[2021-08-16 22:44] JenniferMah commented on #688
Hi @tylerfehr! This should be fixed by this [PR](https://github.com/twilio/twilio-node/pull/686) in the next release on 8/25.

[2021-08-16 22:51] #688 closed

[2021-08-25 07:45] Krishank-Tripathi opened #690 "Video Composition get stuck in enqueue for long time incase multiple callbacks for composition of same RoomID"
### Issue Summary
While fetching callback URL from composition for particular room_id recordings I am facing this issue where composition status is stuck to enqueue for a long time this doesn't happen in normal cases.

Due to this on the callback, I am doing an action for Push notification which is getting delayed.

The following case does not happen for the same video call duration of 8-10 min wh

[2021-08-26 13:39] thomaschaaf opened #691 "Allow setting a default connection override"
### Issue Summary
We would like to use https://www.twilio.com/docs/usage/webhooks/webhooks-connection-overrides in all our code. We keep accidentally forgetting it. It would be great if we could set a default connection override and if we use the redirect twiml verb that it would automatically append it.

### Code Snippet
Instead of writing
[code]

we would like to write

[code]

The connection ov

[2021-08-31 16:33] btknorr opened #693 "twilio.webhook() doesn't work with subaccounts"
### Issue Summary
twilio.webhook() doesn't work with subaccounts...validation always fails because there is only one TWILIO_AUTH_TOKEN for the route which we have set to the primary account.  Our setup will have over 25K subaccounts.

### Steps to Reproduce
Create a subaccount under your primary accont, provision a number to the subaccount.  Send a message to this phone number.  The webhook will f

[2021-09-02 19:55] eshanholtz commented on #690
This does not appear to be an issue with the Node helper library. In order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2021-09-02 19:55] #690 closed

[2021-09-07 19:01] eshanholtz commented on #693
Hi @btknorr, according to our [Security Documentation]() it is a requirement for webhook validation to use the Primary Auth Token for signing:

[2021-09-09 19:24] btknorr commented on #693
So how do we use tiwlio.webhook() to do this?  Which also means we will have to store every subaccount's authToken...is that correct?  Also are we guaranteed that every webhook sent from Twilio to our system will have the subaccount's sid in the payload?  Otherwise this will never work.

[2021-09-09 19:34] btknorr opened #694 "BrandRegistrationListInstanceCreateOptions is missing brandType"
### Issue Summary
client.messaging.brandRegistrations.create doesn't support the required field brandType that is needed when creating a STARTER brand.

### Code Snippet
[code]

BUT these are the only options supported:

[code]

[2021-09-11 19:13] jlcaicedo commented on #600
The solution is very easy, when you should use the Account SID you would verify this account start by AC

[2021-09-13 20:51] comphonia commented on #693
Dealing with this issue now. I also can't use my primary account twiML app for sub accounts. This isn't a great design tbh.

[2021-09-14 00:40] JenniferMah commented on #694
Hi @btknorr! What version of the twilio-node library are you using? It looks like [brandType](https://github.com/twilio/twilio-node/blob/main/lib/rest/messaging/v1/brandRegistration.d.ts#L155) should be included in the `BrandRegistrationListInstanceCreateOptions` interface in the latest version of the twilio-node library.

[2021-09-14 15:04] btknorr commented on #694
Ahhh...yep that's it...after upgrading to the latest we now have brandType.  Thanks!

[2021-09-15 15:24] #694 closed

[2021-09-29 20:22] Prasundas99 opened #696 "ES6 support"
In documentation the code to integrate with node js is as follows:

`var accountSid = process.env.TWILIO_ACCOUNT_SID; // Your Account SID from www.twilio.com/console
var authToken = process.env.TWILIO_AUTH_TOKEN;   // Your Auth Token from www.twilio.com/console

const client = require('twilio')(accountSid, authToken, {
    lazyLoading: true
});`

but I am using `type:module` in my node js applicat

[2021-10-07 04:03] serdar opened #697 "Taskrouter statistics method expecting SID parameter"
### Issue Summary
The documentation  to retrieve the statistics for a specific worker (https://www.twilio.com/docs/taskrouter/api/worker/statistics#fetch-a-specific-workers-statistics) states no additional parameters for the `.statistics()` method, however, the current version of the Node library requires an `SID` parameter.

Can the documentation please be updated to refer to the current publishe

[2021-10-13 06:44] mayfairacademy1 opened #698 "I'm failing to verify phone number with Twilio, anything wrong with my code. Here is the Error: Listening on PORT: 3001 loging in (node:13132) UnhandledPromiseRejectionWarning: TypeError: twilio.sendVerifyAsync is not a function"
### Issue Summary
A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, or code examples.

### Steps to Reproduce
1. This is the first step
2. This is the second step
3. Further steps, etc.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-n

[2021-10-13 06:46] mayfairacademy1 commented on #698
const express = require('express');
const twilio = require('twilio');

const app = express();

const PORT = 3001;
app.get('/test', (req, res) => {
    res.send('Welcome to Mayfair');
});

app.get('/login', async (req, res) => {
    console.log('loging in ');
    const data = await twilio.sendVerifyAsync(0810103462, 'sms');
    res.send(data);
});

app.get('/verify', async (req, res) => {
    conso

[2021-10-13 17:25] ghmeier opened #699 "types: ClientCapabilityOptions makes ttl required but it's optional."
### Issue Summary
The typescript definition of `ClientCapabilityOptions` [makes ttl required](https://github.com/twilio/twilio-node/blob/0018eca40e914d9149b49a3e6b198f4704dc82b2/lib/jwt/ClientCapability.d.ts#L47-L51), but the [code implies a default of 3600](https://github.com/twilio/twilio-node/blob/0018eca40e914d9149b49a3e6b198f4704dc82b2/lib/jwt/ClientCapability.js#L115)

### Steps to Reproduce

[2021-10-14 22:43] eshanholtz commented on #697
Ah. This appears to be a bug in our autogenerated code. Thanks for pointing this out, @serdar. This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-10-24 17:01] AbhilashG97 opened #701 "403 error when using twilio.webhook() middleware on Express App with Custom Job"
### Issue Summary

I get 403 error when I add validation to the webhook used by the [Twilio custom job](https://www.twilio.com/docs/usage/bulkexport/export-custom-job). Twilio custom job provides the ability to use a webhook which provides a notification when the logs are ready.

I created the webhook using Express and in the POST route, I used `twilio.webhook()` middleware. I exposed the webhook

[2021-11-04 13:09] khaliddd opened #706 "How to set emergencyAddressSid"
### Issue Summary
When calling incomingPhoneNumbers call, it succeeds but it ignores the emergencyAddressSid parameter. In the response emergencyAddressSid is always null. Tried it with testing account and with real account as well.

I used the update API and it works from there, means it successfully update the emergencyAddressSid of number.

### Code Snippet
[code]
Logs when using test credentia

[2021-11-08 07:59] AbhilashG97 commented on #701
Hello,

I have updated the issue with the complete error message.

The error message that I got was - `403: Twilio Request Validation Failed.`

I was able to work around this issue by following this blog post - https://www.twilio.com/blog/how-to-secure-twilio-webhook-urls-in-nodejs

The middleware sadly didn't work for me.

[2021-11-08 19:20] yuriburk opened #708 "UNKNWON_ACTIVE_PRODUCT = Error 51218"
### Issue Summary
We are migrating from Chat API to Conversation API but when creating the conversations instance it throws an error "UNKNWON_ACTIVE_PRODUCT" with the error code 51218 that I could not find anywhere what it means. Does someone know what this error code is?

### Technical details:
"@twilio/conversations": "^1.2.3",
"twilio": "^3.63.1",

[2021-11-08 20:21] #708 closed

[2021-11-08 22:05] eshanholtz commented on #706
Hi @khaliddd, this does not appear to be an issue with the helper library. In order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2021-11-08 22:05] #706 closed

[2021-11-10 22:05] a-r-d commented on #284
Also seeing this - my application hangs when doing most twilio API calls. I'm using a pretty standard typescript project on v14 of node and it makes this library unusable for me.

[2021-11-10 22:10] #699 closed

[2021-11-14 14:27] Nandan-Wewhare opened #709 "RestException [Error]: The requested resource /Services/undefined/Verifications was not found"
### Steps to Reproduce
1. Send OTP on any number

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-node version: ^3.71.1
* node version: 16.13.0

[2021-11-16 01:12] JenniferMah commented on #709
Hi @Nandan-Wewhare! Based on the exception log it looks like it's trying to call `/Services/undefined/Verifications`. Can you verify that your `TWILIO_VERIFY_SERVICE_SID` environment var is initialized with a valid service sid? It should have the following format: "VAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[2021-11-16 03:31] Nandan-Wewhare commented on #709
Hi @JenniferMah, service sid env is of the format - VAadXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.

[2021-11-18 22:31] shwetha-manvinkurke commented on #709
Doesn't look like your env var is populated right looking at the exception `/Services/undefined/Verifications`. I would double check that

[2021-11-18 22:57] rangelfinal commented on #595
Lost a lot of time for this issue, was getting a generic "Error 20101: Invalid Access Token" until identity was added to access token options

[2021-11-18 22:57] shwetha-manvinkurke commented on #698
Closing due to inactivity. Feel free to open a new issue if further help is needed.

[2021-11-18 22:57] #698 closed

[2021-11-18 22:58] shwetha-manvinkurke commented on #693
Closing due to inactivity. Feel free to open a new issue if further help is needed.

[2021-11-18 22:58] #693 closed

[2021-11-19 22:22] shwetha-manvinkurke commented on #701
Can you show me the code where you initialize the `client`?

[2021-11-24 17:32] twixr opened #711 "Wrong typing for playbackGrant (PlaybackGrantContext)"
### Issue Summary
![image](https://user-images.githubusercontent.com/5758900/143287397-fd1c339d-c601-4029-8814-83880e1292b1.png)
Full code line:
![image](https://user-images.githubusercontent.com/5758900/143286912-ad88bbcb-a222-47a5-ae4f-07c82a3194f1.png)

According to the docs: (https://www.twilio.com/blog/build-livestreaming-application-twilio-live-express)
![image](https://user-images.githubuse

[2021-12-01 09:29] AyhamNasser commented on #461
I am facing the same issue as well

[2021-12-01 22:30] JenniferMah commented on #711
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-12-03 12:07] bobtfish commented on #669
Related to PR#450

[2021-12-03 16:56] bobtfish opened #713 "Add retries to the client for 429 (Too Many Requests) errors"
### Issue Summary
[Twilio's recommendation](https://support.twilio.com/hc/en-us/articles/360044308153-Twilio-API-response-Error-429-Too-Many-Requests-
) is that clients implement retries with exponential backoff to the API client to deal with 429 (Too Many Requests errors and link documentation about this from Google, Amazon and Microsoft about implementing this.

However vendor provided API clien

[2021-12-08 23:25] tylercollier commented on #220
I had a hard time finding info about using API keys too, and I found this page from google. Later, I found the answer and want to share here.

I found the info here: https://www.twilio.com/docs/glossary/what-is-an-api-key#how-do-i-authenticate-with-an-api-key. It has code examples for Node, but I'll post the relevant part here. The trick is to use the api key and secret, and ALSO the account SID.

[2021-12-13 17:23] twixr commented on #711
I did make a PR, however the docs are telling me that it's a part of the code where no PR's will be accepted and we have to make an issue instead.

[2021-12-15 15:04] cbsplusprojects commented on #461
Me too

[2021-12-16 15:50] homecarecormac opened #715 "SMS messaging throws JSON.parse error"
### Issue Summary
Sending SMS threw error `Unexpected token < in JSON at position 0`.
This doesn't happen always.
This happened only sometimes.
Not sure what makes it happening from time to time.

### Steps to Reproduce
1. Install `twiliow` npm package
2. Configure proper `accountSid` and `authToken`
3. Execute following code snippet

### Code Snippet
[code]

### Exception/Log
[code]

### Technica

[2021-12-22 20:42] TechnotronicOz opened #717 "Node 16 Support?"
Will Node 16 support be landing soon?

[2021-12-23 19:11] ajbraus commented on #617
+1 I'm having this issue in production on Heroku. Was working fine, and then just cropped up at random.

[code]

[code]

[2021-12-29 01:33] Pic2490 commented on #717
I just ran it with 16.3.0 and it works fine

[2021-12-29 01:45] Pic2490 opened #718 "API supports 16.3.0 - Change supported Node versions"
I just tested API with 16.3.0 and it works perfectly.

[2021-12-29 02:48] shirishsurti commented on #646
This issue is blocking me from trying out Twilio Verify API.

I created a Verify Service and used the Twilio Python package V7.4.0 to generate an OTP request but the API call fails with the below error message,

twilio.base.exceptions.TwilioRestException: HTTP 404 error: Unable to create record: The requested resource /Services/<service SID>/VerificationCheck was not found

I am trying Twilio Veri

[2022-01-03 00:12] ajbraus commented on #617
Anyone have an answer to this?

[2022-01-06 13:29] Alko89 opened #719 "Export RestException type"
I use TypeScript

I have been looking through the code where I noticed there is an implementation of RestException, which is inherited from the standard Error class but is not exported.

Exporting this type would help implement error handling for Twilio exceptions using a middleware or in case of Nest.js using exception filters:
https://docs.nestjs.com/exception-filters#exception-filters-1

[2022-01-06 18:45] eshanholtz commented on #701
Closing due to lack of customer response

[2022-01-06 18:45] #701 closed

[2022-01-06 18:49] eshanholtz commented on #709
Closing due to lack of customer response

[2022-01-06 18:49] #709 closed

[2022-01-06 21:35] #678 closed

[2022-01-11 21:03] ajbraus commented on #617
This problem is still blocking my production sending SMS's.

[2022-01-12 01:41] eshanholtz commented on #719
The `RestException` type is exported [here](https://github.com/twilio/twilio-node/blob/main/lib/base/RestException.d.ts#L9) and can be imported with
[code]

[2022-01-13 09:59] Alko89 commented on #719
I see, sorry about that :)

[2022-01-13 09:59] #719 closed

[2022-01-13 17:55] JenniferMah commented on #717
Hi @TechnotronicOz! We have a ticket in the backlog to add support for Node 16 and +1s on this issue summary will help it move up in the backlog.

[2022-01-13 17:58] JenniferMah commented on #718
Hi @Pic2490! Progress for this issue will be tracked in #717.

[2022-01-13 17:58] #718 closed

[2022-01-15 21:02] KyleLehtinenDev opened #722 "Twilio webhook signature validation can return false negative when parameters with arrays are passed"
### Issue Summary
While working on a Conversations webhook we noticed that twilio signature validation would occasionally return a false negative with certain combinations of parameters, in our case the "MessagingBinding.Address" array with group messaging.

Digging into this we discovered that the sorting logic doesn't account for the values of like-named parameters, leading to occurrences of sig

[2022-01-17 07:15] adyaksaw opened #724 "Typescript RecordingInstance: Property 'media' does not exist on type 'string'"
### Issue Summary
In the [Twilio docs](https://www.twilio.com/docs/video/api/recordings-resource#recording-instance-resource), links attribute in the example is an object that contains a `media` attribute. But looking at the [type definition](https://github.com/twilio/twilio-node/blob/31c18138a7194aa83bc3cdd03c580e0d48ea2638/lib/rest/video/v1/recording.d.ts#L311), `links` is marked as a string. Is

[2022-01-18 15:59] stephenwade opened #725 "Axios security update"
Axios has been updated to v0.25.0. Among other things, it includes a fix for a [vulnerable dependency (follow-redirects)](https://github.com/axios/axios/pull/4379) that causes security warnings when using this package.

Can we get an update to `twilio` with the latest version of Axios? Thanks!

[2022-01-19 05:43] MTLChrisLEE opened #726 "[Typescript] new RestException()"
### Issue Summary
The definition of RestException() is RestException(message?: string | undefined): RestException. However, RestException("Error") is not working.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-node version:     "twilio": "^3.66.1",
* node version:  v14.17.0
* Potentidal fix (I think)

[code]
OR

create a constuctor in RestException.d.ts

[2022-01-22 00:58] eshanholtz commented on #725
This issue has been added to our internal backlog to be prioritized (reference ID: DI-1930). Pull requests and +1s on the issue summary will help it move up the backlog.

[2022-01-22 05:06] etc-tiago opened #728 "Any possibility of reducing bundle size?"
Today the entire package is over 13 mb. I'm using webpack to merge the code into a single file to run on AWS Lambda and about 96% of the package is from twilio.

One of the possibilities is to make the package more modular. AWS did this with the SDK and the result is very significant.

When using only S3, in version 2, it compiled about 69 mb. With version 3, only 3.9 mb.

Any chance of this happe

[2022-01-23 15:54] #726 closed

[2022-01-24 09:44] thomaschaaf opened #729 "Make headers/metadata available when calling the api"
### Issue Summary
To be able to monitor our API usage we need to be able to read the headers of the request. E.g. `twilio-concurrent-requests`. Also for using the task router etag functionality (https://www.twilio.com/docs/taskrouter/api/task?code-sample=code-check-for-version-match-before-updating-a-task&code-language=Node.js&code-sdk-version=3.x) we need to be able to get the etag header.

Curre

[2022-01-24 18:33] shwetha-manvinkurke commented on #722
@KyleLehtinenDev thanks for bringing this to our attention. This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2022-01-24 19:53] childish-sambino commented on #725
Note that the issue is isolated to `v0.24.0`, and twilio-node uses `v0.21.x`: https://github.com/twilio/twilio-node/blob/83960a67721fe255194840ba2e4c171aec0fde55/package.json#L23

Note that semver for versions `0.x.x` treats minor versions as breaking.

[2022-01-26 23:06] bramford opened #730 "client.tokens.iceServers incorrectly typed as string array"
### Issue Summary
Type of `client.tokens.iceServers` is wrongly defined as `string[]` when it is in fact an array of objects.

### Code Snippet / Steps to Reproduce

[code]
When running the above code, the console outputs the following which is clearly not an array of strings

[code]

### Technical details:
* twilio-node version: 3.73.1
* node version: v14.18.0

[2022-01-27 00:19] beebzz commented on #724
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2022-01-27 00:25] beebzz commented on #728
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2022-01-27 06:21] prionkor commented on #503
Any update on this?

[2022-01-27 15:08] KyleLehtinenDev commented on #722
@shwetha-manvinkurke one of my peers opened [a PR](https://github.com/twilio/twilio-node/pull/723) for this issue for your consideration.

[2022-02-02 20:27] #725 closed

[2022-02-06 07:09] VigneshMurugan commented on #728
+1

[2022-02-12 00:43] createvibe opened #738 "axios xhrAdapter being used in nodejs"
### Issue Summary
Maybe I'm missing something, but after upgrading to the latest version (3.74.0), I'm noticing that the xhrAdapter is being used for axios.  I noticed "Refused to set unsafe header" for all the endpoints and so I made an interceptor to print the config. This is NOT running in a browser, it is running in nodejs v12.18.3.

When I bring the package back to our older version (3.29.2)

[2022-02-14 22:49] imthatcarlos commented on #738
+1 seeing the same issue on my end. On another project I've used version `3.50.0` with no issues, but on the latest version - seeing the same error as above.

[2022-02-16 03:56] createvibe commented on #738
@imthatcarlos thanks for pointing that out. I would rule that issue out by trying with CURL - here's what I did to make sure the cert was valid and accepted on my sever before making this thread.

[code]

[code]

When I connect with Node's HTTP client I do not receive any request header warners and I do not receive the cert error.

[2022-02-16 15:09] mbulamboma commented on #566
make single quotes for string in .env file

[2022-02-16 21:09] imthatcarlos commented on #738
nice, thanks @createvibe . I ultimately decided to drop the `twilio` lib in favor of just raw POST requests via axios. That lib increased the size of my lambda anyways.

[2022-02-17 14:34] penfold45 opened #739 "Access Restriction Bypass url-parse"
### Issue Summary
I do not see anything here or on stackoverflow relating to this issue
so thought I would post it. There is a security issue inside
url-parse https://security.snyk.io/vuln/SNYK-JS-URLPARSE-2401205

upgrading to the latest version appeartnly resolves the issue.

### Technical details:
* twilio-node version: 3.74

[2022-02-17 23:25] JenniferMah commented on #739
Hi @penfold45! I've opened a PR to update this dependency. This update will be included in the next release on 2/23/22.

[2022-02-18 16:47] childish-sambino commented on #730
Since the change is required in a generated file, we'll need to make changes in the internal upstream generator.

This issue has been added to our internal backlog to be prioritized. +1s on the **issue summary** will help it move up the backlog.

[2022-02-18 18:19] childish-sambino commented on #713
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the **issue summary** will help it move up the backlog.

[2022-02-18 23:08] createvibe commented on #738
@childish-sambino thanks, I'm aware that `axios` uses `xhrAdapter` when running without `process` defined. I was confused why it was recognizing the the correct adapter for us but not for the packaged `axios` module in `twilio-node`.

It seems like `axios` has the check for `XMLHttpRequest` before the check for `process` inside of `getDefaultAdapter`.  I found that `xmlhttprequest.js` is being hoi

[2022-02-18 23:08] #738 closed

[2022-02-20 18:26] DanielWaiguru91 commented on #461
Facing a similar issue, Any solutions?

[2022-02-22 14:21] childish-sambino commented on #461
Closed issues are not monitored closely. Please open a new issue with details, code samples, and links for what you're trying to accomplish.

[2022-02-22 18:01] #739 closed

[2022-02-26 11:51] amrit-citrusleaf opened #743 "Twilio Verify VerificationCheck is out of date"
### Issue Summary
Calling the following code example present in the Verification docs results in an exception-

### Code Snippet
[code]

### Exception/Log
[code]

The phone is getting SMS with verification code. Moreover, its verified when checked in the logs on Twilio console, after calling the above function. But this exception makes it impossible for the application to know if the verification

[2022-03-01 17:55] matijagrcic opened #744 "Dial in Twillio functions keeps calling multiple times"
### Steps to Reproduce
Using the following
[code]

Both numbers get called as expected.
The issue is that if I cancel a call on first phone, it starts ringing again until i cancel the call on both or accept on one or timeout happens.

**Is there a way to prevent that?**

The statusCallback  function is the following, just used to log some extra stuff.

[code]

[2022-03-01 19:01] microagent commented on #744
Can you share what you are trying to achieve rather then how are you trying to achieve it as well?

Can you use a Dial Verb with Nested Numbers to achieve it?

[Dialing Multiple Numbers Simultaneously with Twilio](https://www.twilio.com/blog/2009/05/dialing-multiple-numbers-simultaneously-with-twilio.html)

[2022-03-01 20:14] matijagrcic commented on #744
If you looked at the examples above you would see I referenced the link you've posted.
I'm just playing around with the API testing out the Twilio Functions, but in essence the use case is to call 2 numbers, the calling works fine, if I answer on one phone the other drops as per documentation. The problem the case where if I drop a call on one phone it gets called again.

[2022-03-01 20:58] microagent commented on #744
Correct that is normal. You need to check to see the DialCallStatus (via the action URL of the dial) and if the first call was completed, then return TwiML to Hangup rather then perform the second dial.

[DialCallStatus](https://www.twilio.com/docs/voice/twiml/dial#dialcallstatus)

[2022-03-01 21:43] matijagrcic commented on #744
Based on the documentation

What I'm seeing doesn't match. When I end the first call, it get's called again, it doesn't exit and only second call continues to ring.

[2022-03-01 21:50] microagent commented on #744
Here is the part that is happening, so it has to do with the behavior of the Dial Verb.

Source: https://www.twilio.com/docs/voice/twiml/dial

So the TwiML continues to execute if the dialed party hangs up, which is the 2nd Dial you are seeing. So monitoring the action URL of the Dial allows you to decide what to do based on that calls disposition (no-answer, busy, completed, etc), and return the

[2022-03-01 23:15] matijagrcic commented on #744
I already tried that

[code]

But the dial-action only gets called if I answer then end the call. Not if I end the call.
If I end the call it gets called again.

[https://www.twilio.com/docs/voice/twiml/dial#method](https://www.twilio.com/docs/voice/twiml/dial#method)

[2022-03-02 01:00] microagent commented on #744
The send example is incorrect, the Dial verb takes the action URL, not the Number noun. Please clarify?

I cannot re-create the issue declining the call (it justs sent to Voicemail of my mobile device). What do you mean "just end the call"? Who ends the call?

[2022-03-02 05:57] matijagrcic commented on #744
The second XML example has the action URL, both examples are fine and respond when the call gets answered then ended.

Mobile phone calls a Twillio number
Twillio number then calls two numbers
When I decline each of the numbers I don't expect the declined number to ring again
If I answer on each of the numbers the other call is ended (that's per documentation and it's fine)

What doesn't work is t

[2022-03-02 13:35] microagent commented on #744
This could be a carrier related issue. Twilio Support could investigate. It could be the carrier you use for your service (well the service of the party you are calling and who is rejecting the call),  is sending a SIP Response Code (the underlying telecommunication protocol) that causes the carrier delivering the call to that carrier to retry the call attempt.

[2022-03-02 15:16] scy0334 opened #745 "Twilio Verify causing bug "/Services/{myVerifyServiceId}/Verifications was not found""
### Issue Summary
When asking for verification code, it's causing error "status: 404, code: 20404", saying the url is not found.
It worked 5 hours ago... And now suddenly not working anymore.

### Steps to Reproduce
1. I'm using Google's Cloud Functions callable function to call following function
2. It worked for the first six requests and now it's not working anymore.

### Code Snippet
[code]

#

[2022-03-02 21:29] matijagrcic commented on #744
Thanks @microagent.
I've figured that may be the case and I've already opened a Twillio support ticket yesterday. Will follow up here when we resolve it.

[2022-03-03 06:27] #745 closed

[2022-03-07 14:32] matijagrcic commented on #744
From Twillio support:

[2022-03-07 23:49] #647 closed

[2022-03-08 00:05] JenniferMah commented on #743
Hi @amrit-citrusleaf!
In your sample code snippet it looks like you are missing a value for `code`. Code is the 4-10 character string being verified. For more information please checkout [Twilio's documentation](https://www.twilio.com/docs/verify/api/verification-check?code-sample=code-check-a-verification-with-a-sid&code-language=Node.js&code-sdk-version=3.x#).
[code]

[2022-03-08 03:01] amrit-citrusleaf commented on #743
@JenniferMah - Sorry, I didn't review the code in the issue before posting. Here's the screenshot of the code-

<img width="795" alt="image" src="https://user-images.githubusercontent.com/20224243/157157853-9ba2f2e1-9f61-44f6-9675-55c284d2ddf2.png">

As you can see, I'm passing `code` from the request to the `verificationChecks` method

[2022-03-09 23:55] neelsomani commented on #743
Wait I think I'm having this same issue, I thought it was because my creds are bad but they're clearly not

[2022-03-09 23:55] neelsomani commented on #743
I'm also not even able to create a new verification service, similar error

[2022-03-10 00:12] neelsomani commented on #743
Ok yeah in the meantime until this is fixed if you guys wanna get around it, I'm just converting the cURL requests to Node, example for creating a new verification service:

[code]

which is derived from the cURL command here: https://www.twilio.com/docs/verify/api#authentication

[2022-03-10 16:19] childish-sambino commented on #743
The 404 can be returned when creating the verification check if the check was previously approved or the 10 minute token timeout has elapsed (also applies to fetching the verification). Recommend checking your logs to see if either of these 2 things have happened.

[2022-03-10 16:42] neelsomani commented on #743
It's definitely a bug with the Python client, making the HTTP REST request directly works

[2022-03-10 17:36] childish-sambino commented on #743
@neelsomani Recommend opening a ticket under the python library. Prefer not to conflate the issues which don't appear to be exactly related.

[2022-03-10 17:38] neelsomani commented on #743
Meant Node

[2022-03-11 07:36] vermalokesh0704 commented on #235
In which timezone Twilio API server return the UTC time, i mean where the API server based in which timezone?

[2022-03-11 17:25] childish-sambino commented on #743
@neelsomani So you're saying that you are unable to create a new verification service using this library? Could you provide a code sample that shows the issue?

[2022-03-18 23:36] econner opened #747 "Potential vulnerability CVE-2022-0691 due to dependency on url-parse."
### Issue Summary

Version 3.75.1 of this library (the latest) is potentially vulnerable to CVE-2022-0691 due to dependency on url-parse 1.5.6.

See https://nvd.nist.gov/vuln/detail/cve-2019-10744

The issue can be fixed by upgrading to 1.5.9.

Thanks.

### Technical details:
* twilio-node version: 3.75.1
* node version: 14.19.0

[2022-03-21 22:13] JenniferMah commented on #729
Closing due to inactivity. Please re-open this issue or open a new GitHub issue if you still need help.

[2022-03-21 22:13] #729 closed

[2022-03-21 22:43] JenniferMah commented on #747
Hi @econner! Thanks for brining this to our attention. I've opened a PR to update this dependency. This change should be included in the next release on 3/23/22.

[2022-03-21 22:44] #747 closed

[2022-03-24 01:42] neelcy commented on #743
+1 We're running into the exact issue. That said, it's only happening for a seemingly random set of users (like 5 per 1000). Most of our calls are working fine, so we have no idea what's going on.

[2022-03-30 16:56] neelcy commented on #743
That didn't seem to be the issue

[2022-03-30 22:15] jcanaviri commented on #633
twilio.base.exceptions.TwilioRestException: HTTP 404 error:
Unable to create record: The requested resource /Services/VAxxxxxxxxxxxxxxx/VerificationCheck was not found

[2022-04-01 21:17] ilanskogan commented on #503
any update?

[2022-04-06 20:00] 6utt3rfly commented on #611
I came across this need today, because looking up a number's carrier type was sometimes taking 2 minutes (which far exceeds Twilio's 15-second response timeout during a call). To work around it, I just used a Promise timeout:
[code]

[2022-04-17 17:15] ajbraus commented on #617
Still busted

[2022-04-29 06:28] aleenaelizabethantony commented on #528
$message = $client->messages->create(
'+918881231234', // Text this number
array(
'from' => '+1501725XXXX', // A Twilio phone number you purchased at twilio.com/console
'body' => 'Hello from Twilio!'
)
);

[2022-05-02 19:14] childish-sambino commented on #578
FYI:

[2022-05-03 07:09] alechko opened #749 "Missing "dtmf speech" type in VoiceResponse.GatherInput"
### Issue Summary

The TwiML `<Gather>` input attribute supports `dtmf speech` but the library types are not.

### Steps to Reproduce
1. `<Gather>` input attribute documentation: https://www.twilio.com/docs/voice/twiml/gather#input
2. `VoiceResponse.GatherInput` type: https://github.com/twilio/twilio-node/blob/main/lib/twiml/VoiceResponse.d.ts#L218

### Technical details:
* twilio-node version:  "

[2022-05-03 17:45] JenniferMah commented on #749
Hi @alechko!
Thanks for bringing this to our attention. `dtmf speech` was removed in [version 3.15.1](https://github.com/twilio/twilio-node/blob/main/CHANGES.md#2018-04-20-version-3151) of the twilio-node library. It looks like our documentation has not be updated to reflect this change. I'll reach out to our docs team to let them know about this mismatch.

[2022-05-03 20:45] JenniferMah commented on #749
After further investigation, the code sample below should result in valid TwiML (`<?xml version="1.0" encoding="UTF-8"?><Response><Gather action="/pollResponse" numDigits="1" method="POST" input="dtmf speech"></Response>`)
[code]
Could you please elaborate on the problem that you are encountering while using the twilio-node library?

[2022-05-04 05:39] alechko commented on #749
Sure, in typescript, if I want to use the type of VoiceResponse.GatherInput in order to see the possible values I cannot see or use the `dtmf speech` value. But if you say that it was removed from official TwiML support then I guess it's not relevant anymore.

For example:

<img width="687" alt="image" src="https://user-images.githubusercontent.com/1391846/166627944-f58ef24c-7634-493d-8c71-414b4cc

[2022-05-04 14:20] canegru opened #750 "WebhookListInstanceCreateOptions incorrectly typed"
### Issue Summary
Incorrect types for WebhookListInstanceCreateOptions used in conversations.conversations(conversationId).webhooks.create(opts)

Path: twilio\lib\rest\conversations\v1\conversation\webhook.d.ts

### Code Snippet
Works:

[code]

Doesnt work: Twilio's backend throws an error that the request is invalid.

[code]

### Note

Having prop notation with a dot in it is confusing, ideally,

[2022-05-04 17:22] beebzz commented on #749
Correct, you won't see it as an option in your IDE but using `dtmf speech` type will still work; the string will simply be treated as an enumerable and the first detected type (`dtmf` in this case) will be defaulted to.

[2022-05-04 17:26] beebzz commented on #749
Correct, you won't see it as an option in your IDE but using `dtmf speech` type will still work; the string will simply be treated as an enumerable and the first detected type (`dtmf` in this case) will be defaulted to.

[2022-05-04 17:31] beebzz commented on #750
Hi @canegru, thanks for reaching out. This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2022-05-04 17:36] beebzz commented on #750
In the meanwhile, can you post the exact error that you received?

[2022-05-04 17:46] canegru commented on #750
Hey @beebzz, apologies, it was a filter issue - please close this as it's not a bug and the payload works as expected. I was passing onConversationAdded to a new webhook creation which is not allowed.

Possibly add the available filters to the filter types instead of sting | string[]

[2022-05-04 17:46] #750 closed

[2022-05-04 18:52] alechko commented on #749
I understand that I can pass a string value to the method instead of using the library types, it's just very helpful when the package reflects the official docs and making the development workflow easier as one could look into the library instead of the official docs and avoid making mistakes :)

Please close this issue if no further action needed.

[2022-05-05 18:59] rchancey opened #751 "Lots of timeouts on the rooms.list() API"
We have been seeing lots of timeouts on the rooms.list() API.. too often to be just a temp network thing: no error code is returned:

Error: connect ETIMEDOUT 54.204.149.76:443 at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1144:16) Message: connect ETIMEDOUT 54.204.149.76:443

We are running on AWS and have been for years and have been using twillIo API just fine for couple years.. but we

[2022-05-06 21:40] #749 closed

[2022-05-06 22:27] beebzz commented on #751
Hi @rchancey, refer to this [issue thread](https://github.com/twilio/twilio-node/issues/531) for some advice on handling API timeouts in node.

[2022-05-22 23:06] Jordan-Loeser opened #753 "Webhook middleware not working with Firebase cloud functions"
### Issue Summary
When attempting to use the `webhook` middleware on a firebase cloud function, I am getting a `403 FORBIDDEN` response with  the message `Twilio Request Validation Failed`. The `TWILIO_AUTH_TOKEN` env variable is set and I've attempted to explicitly pass a `host` and `protocol` param with no luck.

The function is working correctly as a webhook without the middleware, so I believe

[2022-06-02 17:05] claudiachua commented on #753
Hi @Jordan-Loeser, in order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2022-06-02 17:05] #753 closed

[2022-06-04 10:10] nomankt commented on #413
facing same issue

[2022-06-06 12:18] claudiachua commented on #751
Closing due to inactivity. Please re-open this issue or open a new GitHub issue if you still need help.

[2022-06-06 12:18] #751 closed

[2022-06-10 16:57] cedrictwillie opened #758 "Question"
### Question Summary
If I instantiate the twilio client using the primary account's sid and auth token, Am I then able to access a sub account under that primary account if I have the sub accounts sid. Or, do I need to instantiate the twilio client using the sub accounts sid and auth token. I know you are able to access sub accounts through the primary account with the php sdk. Wanted to ask if th

[2022-06-10 17:51] rakatyal commented on #758
@cedrictwillie: If by access you mean using the subaccount for API calls, you should be able to do the same with the Node helper as well by using the 'accountSid' parameter and set that to the subaccount you wish to use.

Here's an example of sending a message using a subaccount.

`const accountSid = process.env.TWILIO_ACCOUNT_SID;
const subaccountSid = process.env.TWILIO_SUBACCOUNT_SID;
const aut

[2022-06-10 20:03] cedrictwillie commented on #758
@rakatyal  This is exactly what I was looking for. Thank you for the speedy reply.

[2022-06-14 03:53] alfietinkerve opened #759 "answerOnBridge flag disrupts call flow"
### Issue Summary
Call flow for inbound and outbound voice SDK are disrupted caused from the use of the `answerOnBridge` flag in Voice Response. Noticeable changes, one of it, is on the request header of the endpoint events, one which has call_sid (false) another does not (true). Through back end callback logs, it is discovered that temp callSID is passed from Twilio through the endpoint rather th

[2022-06-14 17:10] niallel opened #760 "Nothing returned for 21216 errors"
### Issue Summary
When I place a call to a blocked number nothing is returned from client.calls.create.
However if I run the same with curl to the API then I get a response.

We need the error to be reported so that we know there is an error.

### Steps to Reproduce
1. Place a call to a blocked number using client.calls.create as in the standard example in the docs here:
[https://www.twilio.com/do

[2022-06-15 01:13] iagocalazans commented on #760
The `create` method returns a Promise, so are you `catch`ing the error from the promise, @niallel?

An example code:
[code]

[2022-06-15 08:40] niallel commented on #760
This was the first thing I tried, there is nothing caught doing this, or wrapping in try/catch as well.

[2022-06-15 16:13] cedrictwillie opened #761 "How do you fetch a sub accounts studio flows?"
### Question Summary
How do you properly fetch a sub account's studio flows through the primary account. When I instantiate the Twilio client as shown in [this issue](#758), then fetch studio flows, the studio flows I get back belong to the primary account and not the sub account. My intention is to only fetch studio flows that live under the sub account. How would I accomplish this. Thank you!

#

[2022-06-17 17:20] #761 closed

[2022-06-19 07:55] bishal7679 opened #762 "Adding a full stop in sentence in README.md file"
### Issue Summary
I know this is a very minor issue but it can be added a full stop in this below sentence.

![Screenshot (140)](https://user-images.githubusercontent.com/70086051/174471350-a9057b32-ace4-45a9-9cc6-487023cb0f5d.png)

[2022-06-21 15:29] ianzone opened #763 "subresourceUris type is wrong"
![image](https://user-images.githubusercontent.com/20043230/174838472-ad08fbe9-1a26-4ab9-b0fa-faa871a7bf2e.png)

It should be an object.

### Technical details:
* twilio-node version: 3.77.3
* node version: v18.4.0

[2022-06-21 20:18] JenniferMah commented on #762
Hi @bishal7679,
Please feel free to submit a PR with this update to the read.me and our team will review it.

[2022-06-22 17:55] ianzone opened #766 "Feature request: list Frontline users"
### It's desired to be able to list Frontline users

### Code Example
[code]

### The return should be an array of Frontline user
[code]

[2022-06-22 21:22] beebzz commented on #760
Hi @niallel, thanks for submitting an issue. As @iagocalazans outlined, I was able to successfully catch a 21216 error using the provided snippet. If you indeed don't see a call sid or error in your logs, please file a [support ticket](https://twilio.com/help/contact) in order to properly debug this issue.

[2022-06-22 21:39] beebzz commented on #763
Hey @ianzone, thanks for submitting this issue. It's been added to our internal backlog to be prioritized, +1s and pull requests on the issue summary will move it further up the backlog.

[2022-06-23 07:52] Alex-Bond commented on #697
Same problem for `client.messaging.deactivations()`

[2022-06-23 14:33] childish-sambino commented on #697
Bumping internally (DI-2172).

[2022-06-24 15:28] #762 closed

[2022-06-24 16:54] niallel commented on #760
Thanks, something seems to have changed.

I had opened a case the other week and they came back to say it was fixed.

I just tried again and it works :-)

[2022-06-24 16:54] #760 closed

[2022-06-24 18:50] beebzz commented on #766
Hey @ianzone, since this is a non-helper library feature request, feel free to file a [support ticket](https://twilio.com/help/contact) so that it can be properly tracked.

[2022-06-24 18:50] #766 closed

[2022-06-24 21:34] beebzz commented on #759
Hi @alfietinkerve, thanks for submitting an issue. The `answerOnBridge` flag, when set to true and when `<Dial>` is the first verb in a Twiml doc, persists an outbound call until the recipient answers it (per the [documentation](https://www.twilio.com/docs/voice/twiml/dial#answeronbridge)).

If your issue is with the behavior of the API, please open a [support ticket](https://twilio.com/help/conta

[2022-06-27 19:07] adamduren commented on #284
NodeJS has had native support for promises dating back to 2015 and async/await in 2017. Given that I'm not sure why this dependency is still used five years later. Our issue with it is that the q.js library is obscuring our stack traces.

[2022-06-27 19:26] adamduren commented on #284
@childish-sambino great to hear! Thanks for the update.

[2022-07-13 10:32] ParallelUniv3rse commented on #669
Seems like Q is causing prototype pollution on Promise and causing memory leaks in Jest for us.
Any module that imports twilio and other modules which use Promise hang around in memory.

[2022-07-25 15:52] #759 closed

[2022-08-12 11:34] hugo-netcraft commented on #722
Hi, our team just came across the issue as well, with Autopilot picking up multiple parameters for a field type. Seems to be an issue in all of the Twilio language modules that I have tested (and probably more from the quick skimming of the code) and not mentioned in the security documentation.

Assuming Twilio is using this module to validate the requests in their new feature "Functions", this wi

[2022-08-20 15:17] EltonAlvess commented on #763
Can I get it?

[2022-08-23 01:33] eskie-aloware commented on #574
im having a problem with laravel.. cors issue

[2022-08-24 06:46] jsakas opened #780 "Errors thrown in each callback are not printed to stderr"
### Issue Summary

I am finding that `done` is never called in `client.incomingPhoneNumbers.each`.

I believe this could be the same issue originally reported in https://github.com/twilio/twilio-node/issues/678.

Please see my code snippet below.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* twilio-node version: ^3.80.1
* node version: v14.17.6

[2022-08-25 04:13] jsakas commented on #780
Ok - after linking the `twilio` module locally to try to resolve the bug myself, I found that done is in-fact called correctly, but any errors within the callback are not printed to stderr.

The issue is here:

[code]

Perhaps I shouldn't work so late at night.

Regardless, I am surprised the TypeScript compiler did not warn me of this, and the error was swallowed due to the binding/recursive tech

[2022-08-25 04:22] jsakas commented on #780
It looks like since these are generated files I can't submit a PR but this is what I added locally: https://github.com/twilio/twilio-node/compare/main...jsakas:twilio-node:main

[2022-08-26 07:23] Shree2470 commented on #398
Can you pleas tell me the solution for  this error "throw new Error('username is required');"

[2022-08-26 13:49] childish-sambino commented on #398
@Shree2470 Please open a new issue as closed issues are not tracked as closely.

[2022-08-26 15:56] #722 closed

[2022-08-27 00:03] tsongas commented on #606
+1

[2022-08-27 20:34] jimmywarting commented on #728
+1

for instance, change axios for built in fetch in NodeJS, if fetch isn't provided by the env, let user polyfill it themself with either undici, node-fetch or other

[2022-08-28 23:17] JonatanSalas opened #781 "toJWT() throws a TypeError when calling"
### Issue Summary
Hi guys!

I'm trying to create a JWT with VideoGrant since I'm creating a Mobile App that needs video calls. I've followed this [guide](https://www.twilio.com/docs/iam/access-tokens).

### Steps to Reproduce
1. Create a service to generate an accessToken based on the code snippet I show below.
2. Run the service with some arbitrary values like userId with value "pedro" and roomSi

[2022-08-28 23:46] JonatanSalas commented on #781
I've reviewed the code, the v3.81.0 explodes in the following lines:

[code]

I've also reviewed the v4.0.0-rc branch that has a fix:

[code]

The problem is that `grants` is being overwritten in case of setting `identity` with an string, and we trying the to access an index with key it get out of bound throwing an error.

[2022-08-29 09:32] hugo-netcraft commented on #722
Hi just like to link [this message](https://github.com/twilio/twilio-python/issues/613#issuecomment-1230017347) as it seems this issue might not be completely fixed

[2022-08-29 18:24] childish-sambino commented on #781
The JWT generation code is the same between the main and RC branches, which is not matching up with the first snippet above: https://github.com/twilio/twilio-node/blob/39d15cd357f90e749fe97d1901398722a9687812/lib/jwt/AccessToken.js#L275-L280

Maybe I'm missing something?

[2022-08-30 20:25] childish-sambino commented on #780
I was able to recreate this locally and agree that this is not something that should get swallowed, though I don't agree logging the error is the best solution (though it may be given the current implementation).

We're currently working on a refactor of the generated code and I've added this issue to the acceptance criteria for building out the pagination code (ref: DI-1401).

[2022-09-07 21:16] atakurt034 opened #785 "Meteor Js unsupported on new JavaScript SDK"
### Steps to Reproduce
1. This is the first step
 - Use latest version of twilio SDK on the browser with Meteor
2. This is the second step
 - Fetch token and initialize twilio SDK

Meteor version 2.6
twilio-sdk latest

[2022-09-08 19:24] claudiachua commented on #763
Update: We are working on this and will be ready for the next release candidate.

[2022-09-09 11:41] Ganesh9840 opened #786 "statuscallback events for outbound call, help me how to get a statuscall events the url i have given is the api which triggers aws lambda to get the callback events but im not getting , help me out in detail please"
from twilio.rest import Client
# Find your Account SID and Auth Token at twilio.com/console
# and set the environment variables. See http://twil.io/secure
account_sid = '******************************************'
auth_token = '*******************************************'
client = Client(account_sid, auth_token)
call = client.calls.create(
                        method='GET',

[2022-09-14 16:22] jimmywarting opened #790 "willing to contribute with some code modernization"
if you like to accept my help i could help out to convert some prototype stuff to es6 classes in v4.0.0 if you wish

[2022-09-14 17:44] claudiachua commented on #786
Hi @Ganesh9840 , please refer to this [documentation](https://www.twilio.com/docs/voice/make-calls#call-end-setting-your-statuscallback) on how to request status callbacks.

Else, in order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2022-09-14 17:44] #786 closed

[2022-09-15 20:50] claudiachua commented on #785
Hi @atakurt034, Could you provide more details, code samples, and links for what you're trying to accomplish? If you are running the code on Client side, you will not be able to as this library is only for back-end application due to the potential exposure of your account credentials.

[2022-09-16 16:53] claudiachua commented on #790
Hi @jimmywarting, Thank you for reaching out. We would appreciate your help, feel free to open PRs for non-generated code. As the team is preparing for release, please refer to `4.0.0-rc` branch for the latest code.

[2022-09-16 16:54] #790 closed

[2022-09-20 20:26] Hunga1 commented on #697
Update: This is now work-in-progress and will be ready for the next release candidate.

[2022-09-27 18:17] motat331 opened #798 "Twilio Compositions failed to deserialize for field 'video_layout.transcode.video_sources'"
### Issue Summary
I am attempting to create a video composition using the client.video.v1.compositions.create({}) api, following the documentation here https://www.twilio.com/docs/video/api/compositions-resource?code-sample=code-transcode-a-video-recording&code-language=Node.js&code-sdk-version=3.x

My other Twilio API requests work fine, like creating a room, or retrieving a recording, but this s

[2022-09-28 12:58] RyannGalea commented on #696
This is closely related but is there anyway to create a client using Deno?

No matter which import situation i use it tells me K2e.URL is not a constructor.

[code]

[2022-09-29 19:28] rakatyal commented on #781
Closing due to inactivity.

[2022-09-29 19:28] #781 closed

[2022-09-30 14:45] childish-sambino commented on #798
Hrm, seeing the same thing locally. I was able to make some progress by wrapping the `video_sources` property in an array. Does this work for you?
[code]

[2022-10-02 21:07] woxman opened #799 "problem get sms"
i can't get sms in iran country.
why?
your service suspended my country or my government blocked your service?

[2022-10-03 10:56] woxman commented on #570
you finded solution for this problem?

[2022-10-03 14:21] childish-sambino commented on #799
In order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2022-10-03 14:21] #799 closed

[2022-10-03 14:26] childish-sambino commented on #570
@woxman Please open a new issue as closed issues are not tracked as closely.

[2022-10-11 14:51] emagaram opened #802 "Add Typescript types for SMS Status Callbacks"
I'm pretty sure there are no typescript types for SMS Status Callback Webhooks. Could you add this in the future? Thanks!

[2022-10-17 20:09] beebzz commented on #785
Closing issue due to lack of response. Please re-open this issue or open a new GitHub issue if you still need help.

[2022-10-17 20:09] #785 closed

[2022-10-17 20:36] beebzz commented on #802
Hi @emagaram, thanks for posting an issue! Could you specify where this typing is missing? I see that status callbacks for SMS messages are typed as strings [here](https://github.com/twilio/twilio-node/blob/main/lib/rest/api/v2010/account/message.d.ts#L189).

[2022-10-17 20:38] emagaram commented on #802
I was referring to the HTTP body that the webhook sends. Something like this:

[code]

[2022-10-17 23:27] mattallard123 commented on #798
@childish-sambino solution worked for me! Thanks!

[2022-10-18 17:57] #798 closed

[2022-10-28 07:26] ajcarpenter42 opened #810 "done callback is called twice in each() if callback calls done()"
### Issue Summary
With at least some flavors of `each`, if `done()` is called manually from the optional `callback`, as suggested by [example.js](https://github.com/twilio/twilio-node/blob/3.83.0/examples/example.js), then the `onComplete` function which calls the `done` optional callback is called twice: once from the optional callback, and once [after finishing](https://github.com/twilio/twilio-

[2022-10-31 14:53] EltonAlvess commented on #617
I'm having issue in production with it. Any progress?

[2022-11-02 21:30] childish-sambino commented on #810
I agree that it's not obvious that `done` gets implicitly called a second time, and I don't think it should. I think we can change the logic to know when `done` was called by the `callback` and not call it a second time. We'll look to include this fix in the v4 release candidate (tracking: DI-2414).

[2022-11-07 23:35] #697 closed

[2022-11-15 17:25] jorgevrgs opened #824 "Twilio create token iceServers type"
### Issue Summary
A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, or code examples.

### Steps to Reproduce
1. Create a twilio client
2. Get the token iceServers
3. Verify the type, currently `string[]`, expected `RTCConfiguration['iceServers']`

### Code Snippet
[code

[2022-11-15 17:33] jorgevrgs commented on #824
Do you think that this solves the problem?

https://github.com/jorgevrgs/twilio-node/commit/a26225de021958515d07bb6fcfc6c634512f8a44

[2022-11-18 15:56] mattcole19 commented on #824
Thank you for bringing this up! This typing [exists](https://github.com/twilio/twilio-node/blob/4.0.0-rc/lib/rest/api/v2010/account/token.ts#L20) in our RC branch which is in development.

[2022-11-18 15:56] #824 closed

[2022-11-18 16:19] asfo opened #825 "Wrong `PromptAttributes` interface implementation"
### Issue Summary
Right now I'm following the docs to use `Pay.Prompt` noun but there is a problem while using TypeScript.

The interface includes the following:
[code]

And as we can see the attribute is `for_` (with the `_`) and inside the docs:
https://www.twilio.com/es-mx/docs/voice/twiml/pay/prompt#for

It's `for` only (without the `_`), if we try to use `Pay.Prompt` like the following:
[code

[2022-11-22 20:47] childish-sambino commented on #452
The error is now better surfaced after the migration to axios as the underlying request client in version `3.41.0`: https://github.com/twilio/twilio-node/pull/542.

Closing as resolved.

[2022-11-22 20:47] #452 closed

[2022-11-22 21:54] childish-sambino commented on #635
This is not a change that can be made in the library. Please [file a support ticket](https://twilio.com/help/contact) to inquire about adding this feature to the API.

[2022-11-22 21:54] #635 closed

[2022-11-23 20:53] childish-sambino commented on #671
Fixed by https://github.com/twilio/twilio-node/pull/675

[2022-11-23 20:53] #671 closed

[2022-11-23 20:57] childish-sambino commented on #717
Fixed by https://github.com/twilio/twilio-node/pull/736

[2022-11-23 20:57] #717 closed

[2022-11-23 21:05] childish-sambino commented on #284
Closing as fixed (lastly) by https://github.com/twilio/twilio-node/pull/826

This will be included in the first release candidate for twilio-node@v4 dropping in a week.

[2022-11-23 21:05] #284 closed

[2022-11-23 21:06] childish-sambino commented on #669
Closing as fixed (lastly) by https://github.com/twilio/twilio-node/pull/826

This will be included in the first release candidate for twilio-node@v4 dropping in a week.

[2022-11-23 21:06] #669 closed

[2022-11-23 21:18] childish-sambino commented on #763
Closing as fixed: https://github.com/twilio/twilio-node/blob/3452c036543be32a512fcfefd63de62c96fd545c/lib/rest/api/v2010/account/call.ts#L713-L716

This will be included in the first release candidate for twilio-node@v4 dropping in a week.

[2022-11-23 21:18] #763 closed

[2022-11-28 17:23] #664 closed

[2022-11-28 17:31] childish-sambino commented on #617
Fixed by https://github.com/twilio/twilio-node/pull/665

[2022-11-28 17:31] #617 closed

[2022-11-28 17:52] childish-sambino commented on #611
Fixed by https://github.com/twilio/twilio-node/pull/668 and https://github.com/twilio/twilio-node/pull/775

Example usage:

[code]

[2022-11-28 17:52] #611 closed

[2022-11-28 18:05] childish-sambino commented on #711
Fixed by https://github.com/twilio/twilio-node/pull/814

This will be included in the first release candidate for twilio-node@v4 dropping this week.

[2022-11-28 18:05] #711 closed

[2022-11-28 18:05] claudiachua commented on #825
Hi @asfo , I've tried to recreate your issue but did not get the same error. In order to properly debug this issue, please [file a support ticket](https://twilio.com/help/contact).

[2022-11-28 18:28] asfo commented on #825
@claudiachua how you are not able to reproduce my issue if literally, the interface is wrong... 🤔 can you share the code that was used for testing?

You can see the interface here:
https://github.com/twilio/twilio-node/blob/main/lib/twiml/VoiceResponse.d.ts#L630

You also can see that on an old commit:
![image](https://user-images.githubusercontent.com/829964/204352155-04c9e61b-e8cc-4454-aa9b-6e4f

[2022-11-28 19:18] claudiachua commented on #825
Please [file a support ticket](https://twilio.com/help/contact) with regards to the docs issue, so the support team can assign it to the correct team responsible for it

[2022-11-28 20:08] asfo commented on #825
![image](https://user-images.githubusercontent.com/829964/204369916-3c31f992-e595-442f-8d12-8faaacd92454.png)
Same error with that source but using imports 🤔 I think maybe is because I'm using some settings that affect and use the typings from the Twilio TS code.

![image](https://user-images.githubusercontent.com/829964/204370899-d870ccb8-5141-4837-83c2-8b205774272b.png)

Can you try the followin

[2022-11-29 16:06] childish-sambino commented on #730
Closing as fixed in the RC branch: https://github.com/twilio/twilio-node/blob/e2204f2f882ea85b7cd9ca26b8b85cda28b98fe3/lib/rest/api/v2010/account/token.ts#L183

This will be included in the first release candidate for twilio-node@v4 dropping this week.

[2022-11-29 16:06] #730 closed

[2022-11-29 19:25] claudiachua commented on #825
@asfo I'm seeing the error now. Thank you for raising this issue. Since the change is required in a generated file, we'll need to make changes in the internal upstream generator. This issue has been added to our internal backlog to be prioritized (Internal Ref: DI-1419).

current workarounds is to either:
1.  use commonjs `require` statement instead of `import`
e.g. `const VoiceResponse = require(

[2022-11-29 21:25] childish-sambino commented on #503
I've bumped this up the internal backlog just now (ref: DI-2444).

[2022-11-29 21:44] childish-sambino commented on #595
Bumped up the internal backlog (ref: DI-2445).

[2022-11-30 16:48] asfo commented on #825
Thanks! 🙌

The second workaround doesn't work since the XML is generated like <Prompt for_="...> and Twilio ignores this because the `for_` is not valid, but we used: `// @ts-ignore` so Ts ignores that specific line and it works :)

I really appreciate your help!